body{
    background-image: url(/images/bg-hero-desktop.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.main-logo { width: 145px;  }

.custom-button:hover {
    background-color: #fff;
    color: #007bff;
    transition: .8s ease-in-out;

}

.custom-button3:hover{
    background-color: #fff;
    color: #007bff;
    transition: .8s ease-in-out;
}

